{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<p style="text-decoration: underline">Products</p>

<table>
	<tr>
		<th>id</th>
		<th>name</th>
		<th>price</th>
		<th>delete</th>
		<th>action</th>
	</tr>
	{% for prod in products %}
	<tr>
		<td>{{prod.id}}</td>
		<td>{{prod.name}}</td>
		<td>{{prod.price}}$</td>
		<td><a href="{% url 'delete_prod' prod.id %}">delete</a></td>
		<td><a href="{% url 'add_cart' prod.id %}">add to cart</a></td>
	</tr>
	{% empty %}
</table>
	<p>no products</p>
	{% endfor %}
</table>
<hr>

<a href="{% url 'add_prod' %}">add product</a>


{% endblock %}